
body {
  text-align: center;
  margin: 8vh 20vh;
  background-color: #5D658E;
}

button {
  cursor: pointer;
}

ol {
  display: flex;
  flex-direction: column;
}

li {
  text-align: left;
  line-height: 30px;
}

.App {
  padding-top: 20px;
  border: 1px solid black;
  height: auto;
  background-color: #BBBCC4;
}

.wrapper {
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.addItemBtn {
  height: 30px;
  width: 80px;
}

.addItemBtn:hover {
  filter: drop-shadow(5px 5px 2px lightslategrey);
  transition: .2s ease;
  background-color: #5d658e7a;
}

.toDo {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(5px 5px 2px lightslategrey);
}

.toDoInput {
  width: 50%;
}

.toDoList {
  margin: 10px auto;
  border: 1px solid black;
}

.smallBtn {
  float: right;
  margin-right: 15px;
  height: 25px;
}

.time {
  float: right;
  margin-right: 15px;
}

.delete:hover {
  color: #2A9101;
}

@media (max-width: 1090px) {
  li {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }

  ol {
    padding: 15px;
    margin: 0;
  }

  .smallBtn {
    width: 20%;
    min-width: 60px;
    padding: 0;
  }
}

